<div id="info-wrap">
    <div class="restaurant-short">
      <div class="input-group">
      <input type="text" class="form-control" placeholder="Search an area">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Filter</button>
      </span>
    </div>
        <p id="random">
        Spin the wheel for a random eating place
        </p>
        <center><button class="more-details">More Details</button></center>
    </div>
</div>

<div id="wrapper">
  <div id="wheel">
    <div id="inner-wheel">
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
    </div>

    <div id="spin">
      <div id="inner-spin"></div>
    </div>

    <div id="shine"></div>
  </div>
</div>

<p class="user-prompt">Your favorite spot is not in the list? Register an account and create your own favorite list!</p>
<br>

<ul class="user-auth">
  <% if user_signed_in? %>
    <li><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-link" %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-link" %></li>
  <% else %>
  <li><%= link_to "Sign up", new_user_registration_path, class: "action-button shadow animate blue" %></li>
  <li><%= link_to "Sign in", new_user_session_path, class: "action-button shadow animate red" %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
<div class="container">
<h1>Places To Eat</h1>
<hr>
<%= link_to 'Add a new place', new_restaurant_path, class: "btn btn-primary" %>
<br>
<br>
<ul class="nav nav-tabs">
  <li class="dropdown pull-right">
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">Filter<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, restaurants_path(category: category.name) %></li>
      <% end %>
    </ul>
  </li>
  <li role="presentation" class="active"><a data-toggle="tab" href="#all">All</a></li>
  <li role="presentation"><a data-toggle="tab" href="#favorites">Favorites</a></li>
</ul>

<div class="tab-content">
<div id="all" class="tab-pane fade in active">
  <div class="row">
    <section id="pinBoot">
        <% @restaurants.each do |restaurant| %>
        <article class="white-panel"><img src="http://i.imgur.com/sDLIAZD.png" alt="">
            <h3><%= link_to restaurant.name, restaurant %></h2>
            <p><%= link_to restaurant.website, restaurant.website, target: "_blank" %></p>
            <p><%= restaurant.address %></p>
            <p><%= tel_to restaurant.phone %></p>
        </article>
        <% end %>
    </section>
    <hr>
  </div>
</div>

<div id="favorites" class="tab-pane fade">
  <p> Testing pagination function</p>
</div>
</div>
</div>
<% end %>