<div id="info-wrap">
    <div class="restaurant-short">
        <p>Spin the wheel for a random restaurant name!</p>
        <center><button class="more-details">More Details</button></center>
    </div>
</div>

<div id="wrapper">
  <div id="wheel">
    <div id="inner-wheel">
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
    </div>

    <div id="spin">
      <div id="inner-spin"></div>
    </div>

    <div id="shine"></div>
  </div>
</div>

<p class="user-prompt">Still cant find a place to eat? Register and account and create your own favorite list!</p>
<br>

<ul class="user-auth">
  <% if user_signed_in? %>
    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
  <li><%= link_to "Sign up", new_user_registration_path, class: "action-button shadow animate blue" %></li>
  <li><%= link_to "Sign in", new_user_session_path, class: "action-button shadow animate red" %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
<h1>Places To Eat</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a data-toggle="tab" href="#all">All</a></li>
  <li role="presentation"><a data-toggle="tab" href="#favorites">Favorites</a></li>
</ul>

<div class="tab-content">
  <div id="all" class="tab-pane fade in active">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Website</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
            <td><%= restaurant.phone %></td>
            <td><%= link_to restaurant.website, restaurant.website, target: "_blank" %></td>
            <td><%= link_to 'Show', restaurant, class: "btn btn-link" %></td>
            <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
            <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="favorites" class="tab-pane fade">
    <p> Testing pagination function</p>
  </div>

</div>

<%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>